<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p class="MsoNormal"><b><span style="font-size:17.0pt;line-height:107%;
font-family:&quot;Georgia&quot;,serif;color:#323232;background:#F8F8F8">
Выход нового сотрудника<o:p></o:p></span></b></p>

<table border="1" cellpadding="10px"><tbody><tr style="height: 13px;"><td style="height: 13px;">Сотрудник</td>
<td style="height: 13px;">{СотрудникСтрока}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Дата рождения</td>
<td style="height: 13px;">{ДатаРождения}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Дата выхода</td>
<td style="height: 13px;">{ДатаВыхода}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Офис</td>
<td style="height: 13px;">{Офис}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Номер места</td>
<td style="height: 13px;">{НомерМеста}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Спеллинг</td>
<td style="height: 13px;">{Спеллинг}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Создать аккаунт</td>
<td style="height: 13px;">{СоздатьАккаунт}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Электронная почта</td>
<td style="height: 13px;">{ЭлектроннаяПочта}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Пропуск</td>
<td style="height: 13px;">{Пропуск}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Мобильный телефон</td>
<td style="height: 13px;">{МобильныйТелефон}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Руководитель</td>
<td style="height: 13px;">{Руководитель}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Должность</td>
<td style="height: 13px;">{ActualPositionTitle}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Должность строкой</td>
<td style="height: 13px;">{ДолжностьСтрокой}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Отдел</td>
<td style="height: 13px;">{ActualDepartmentName}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Организовать рабочее место</td>
<td style="height: 13px;">{ОрганизоватьРабочееМесто}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Организация</td>
<td style="height: 13px;">{Юр_Лицо}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Город</td>
<td style="height: 13px;">{Город}</td></tr><tr style="height: 13px;"><td style="height: 13px;">Удаленная работа</td>
<td style="height: 13px;">{УдаленнаяРабота}</td></tr><tr style="height: 13px;"><td style="height: 13px;"> Комментарий</td>
<td style="height: 13px;"> {КомментарийДляИТ}</td></tr></tbody></table></body></html>